.navbar {
  display: flex;
  flex-wrap: wrap;  
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  background-color: #004d40;
  padding: 0.5rem 1rem;
  border-top: 1px solid #00332e;
  border-bottom: 1px solid #00332e;
  width: 100%;
  box-sizing: border-box; 
}


.link {
  color: #f1f8e9;
  text-decoration: none;
  position: relative;
  transition: color 0.3s;
}

.link:hover {
  color: #aeea00;
}

.link::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #aeea00;
  left: 0;
  bottom: -3px;
  transition: 0.3s ease;
}

.link:hover::after {
  width: 100%;
}
